<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Google Search Scraper</title>  
</head>
<body>
<div style="margin:0 auto;">
  <pre style="padding: 0 0 0 30%;">
    <h1>Google Search Scraper</h1>
    "Query" is the search query for Google search.
    "Path" is the sub path to add to each hit URL (https://xxx.com -> https://xxx.com/path).
    "Regex" is the regular expression for getting data from each hit page (the default one is for email address).
    "Start" is the page number of starting search (0 by default means from the first page, for the page 2, set 10, for 3, 20, ...).
  </pre>
  <form action="/" method="POST" >
    <div style="width:30%; text-align: right; margin-bottom: 1%; float:left;">
      <label for="query">Query:</label>      
    </div>
    <div style="margin-bottom: 1%;">
      <input type="text" value="<%= query %>" name="query" style="width:30%;"/>      
    </div>
    <div style="width:30%; text-align: right; margin-bottom: 1%; float:left;">
      <label for="path">Path:</label>
    </div>
    <div style="margin-bottom: 1%;">
      <input type="text" value="<%= path %>" name="path" style="width:10%;" />
    </div>
    <div style="width:30%; text-align: right; margin-bottom: 1%; float:left;">
      <label for="regex">Regex:</label>
    </div>
    <div style="margin-bottom: 1%;">
      <input type="text" value="<%= regex %>" name="regex" style="width:50%;"/>
    </div>
    <div style="width:30%; text-align: right; margin-bottom: 1%; float:left;">
      <label for="regex">Start:</label>
    </div>
    <div style="margin-bottom: 1%;">
      <input type="text" value="<%= start %>" name="start" style="width:10%;"/>
    </div>

    <div style="text-align: center;">
      <input type="submit" value="Search & Crawl"/>  
    </div>

    <p style="text-align: center;"><a href="https://www.google.com/search?q=<%= query %>" target="_blank">Original search</a></p>
   
  </form>
</div>

<div style="margin:0 auto;">
  <p style="text-align: center;">Result of <%= tag %>:</p>
  <p id="result" style="text-align: center; font-weight: bold; font-size: x-large;"></p>
  <div style="text-align: center; margin-bottom: 1%;">
    <input type="button" value="Refresh" onclick="check_result();" />  
  </div>
  <div style="text-align: center;">
    <input type="button" value="download as CSV" onclick="check_result();" />  
  </div>
  <div style="text-align: center; margin-top: 10%;">
    <p>&copy; @benzookapi</p>
    <p><a href="https://github.com/benzookapi/google-search-scraper" target="_blank">Patch me!</a></p>
  </div>
</div>
<script>
  var check_result = function() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {       
        document.getElementById("result").innerHTML = xhttp.responseText;
      }
    };
    xhttp.open("GET", "/result?tag=<%= tag %>", true);
    xhttp.send();
  };
  check_result();
</script>
</body>
</html>
